
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.site-header{
    margin: 0 0 30px 0;
}
.header-top {
    padding: 40px 0 0 0;
    text-align: right;
}
.header-top .textwidget {
    color: #141414;
    font-size: 12px;
    letter-spacing: 0.02em;
    opacity: 0.7;
    font-family: Roboto;
    font-weight: 400;
}
.site-logo a img{
    margin: 28px 0 22px 0px;
    float: left;
}
.site-logo:hover img {
    opacity: 0.5;
}
/** site footer **/

.site-footer{
    margin-top: 12px;
    background-color: #141414;
    font-weight: lighter;
    padding: 37px 0 73px;
    letter-spacing: 0.02em;
}
.footer-top {
    padding-bottom: 35px;
}
.site-footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
    margin: auto auto 20px auto;
    font-family: 'Montserrat', sans-serif;
}
.footer_contact {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-family: Roboto;
    margin: 0 0 24px 0;
}
.site-footer .footer-bottom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: 1px solid #282828;
    padding: 25px 0 0 0;
}
.copyright {
    color: #969696;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.site-footer .widget ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}
.site-footer .widget ul li {
    list-style: none;
    position: relative;
    border: 0;
    margin-bottom: 3px;
}
.site-footer .widget ul li a {
    font-size: 12px;
    line-height: 12px;
    color: #969696;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.site-footer .widget ul li:hover a{
    color: #FFF;
}
.footer-top ul.social {
    float: left;
    margin: 4px 15px 20px 0;
}
.footer-top ul.social li a {
    background: rgba(0, 0, 0, 0) url(../images/social.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 36px;
    text-indent: -999em;
    width: 36px;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}
.footer-top ul.social li a:hover {
    background-position: 0 -44px;
    text-decoration: underline;
    color: #fff;
}
.footer-top .text {
    float: left;
}
.site-footer .widget {
    margin: 10px 0;
    border: 0;
    padding: 0;
}

/** site menu **/
.site_menu{
    background-color: #141414;
    height: 48px;
}
.site_menu ul{
    margin: 0px;
    padding: 0px;
}
.site_menu ul li{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}
.site_menu ul li a {
    background-clip: padding-box;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 15px;
    margin: 18px 19.5px 13px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 2px solid transparent;
}
.site_menu ul li:first-child a {
    margin-left: 0px;
}

.site_menu ul li:hover a,
.site_menu ul li.active a {
    border-bottom: 2px solid #FFF;
}

.page-title {
    color: #000000;
    text-align: left;
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/** user login **/
.user_login{
    width: 50%;
    margin: 0 auto;
}
.action_form{
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin:0;
    text-align: left;
}

.user_login h2{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    color: #000;
    font-size: 26px;
    line-height: 1.25;
    margin: 0 0 24px 0;
    text-rendering: optimizeLegibility;
}

.action_form label {
    line-height: 2;
    display: block;
    font-family: Roboto;
    color: #2d2d2d;
    font-size: 12px;
    margin: 0;
}
.required {
    color: red;
}

input.cus_field {
    height: 42px;
    line-height: 42px;
    width: 100%;
    border: 0px;
    padding: 0 10px;
    font-size: 12px;
    background-color: #f6f6f6;
}
.action_form .form-group{
    font-family: Roboto;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}
.cus_button {
    background-color: #000000;
    height: 38px;
    line-height: 38px;
    padding: 0 20px!important;
    font-weight: normal;
    border-radius: 0;
    -webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out;
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out;
    text-transform: uppercase;
    color: #ffffff;
    border: 0px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.login_remember{
    display: inline-block !important;
    line-height: 2;
    cursor: pointer;
    margin: 0 5px 0 10px !important;
    position: relative;
}
.login_remember input[type="checkbox"] {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.login_remember span::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 4px;
    bottom: 0;
    width: 16px;
    height: 16px;
    background-color: #ededed;
    content: '';
    padding: 1px 0 0 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login_remember span {
    padding: 0 0 0 22px;
    height: 16px;
    line-height: 16px;
}

.new_distributor_sign_up{
    padding: 0 0 0 22px;
    height: 16px;
    line-height: 16px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.user_registration a,
.new_distributor_sign_up a{
    color: #000000;
}

.lost_password {
    margin-bottom: 10px;
}
.lost_password a{
    font-family: Roboto;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 20px;
}
.return_to_main_site{
    float: right;
    margin-top: 10px;
    margin-bottom: 25px
}
.return_to_main_site a{
    text-decoration: underline;
    font-size: 13px;
    color: #000000;
}
/** Back to top **/
.scrollup {
    background: #000000 url(../images/icons_new14.png) no-repeat scroll 13px -1553px;
    cursor: pointer;
    font-size: 0;
    height: 52px;
    margin: 0;
    position: fixed;
    right: 40px;
    top: 50%;
    width: 52px;
    z-index: 99;
}
.alert-wrapper {
    padding: 15px 15px 15px 45px !important;
    margin: 0 0 30px 0 !important;
    background-color: #fff;
    color: inherit;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 3px #e1e1e1;
    border-color: #e1e1e1;
}
.alert-error{
    position: relative;
}
.alert-error:before {
    content: "\e912";
}
.alert-error:before {
    font-family: 'bikeway-custom';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -31px;
    font-size: 20px;
    margin: -12px 0 0 0;
    color: #b81c23;
}
.alert-error li{
    font-size: 15px;
    color: #000000;
}

.lost_reset_password p {
    font-family: Roboto;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px !important;
}
.user_name_email_field label{
    display: block;
    width: 100%;
}
.user_name_email_field input{
    height: 42px;
    line-height: 42px;
    background-color: #f6f6f6;
    border: 1px solid transparent;
    -webkit-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
    width: 47%;
}

/** user registration **/
.user_registration .register{
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
}
.user_registration{
    width: 75%;
}
.name_field{
    width: 47%;
}
.input_type_file input[type=file]{
    width: 35%;
}
.user_registration .form-group input[type=checkbox]{
    margin: 6px 0 0 0;
    vertical-align: top;
}
.input_type_file a{
    text-decoration: underline;
}

/** terms and condition **/
.terms_and_condition h3{
    color: #4e4e4e;
    font-size: 24px;
    line-height: 1.2;
    clear: both;
    font-weight: 700;
    margin: 0 0 24px 0;
}
.terms_and_condition p {
    font-family: Roboto;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}
.terms_and_condition p a{
    color: #2d2d2d;
}